<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:method="post" th:action="@{/registration}" th:object="${person}">
  <label for="name">Логин: </label>
  <input type="text" th:field="*{name}" id="name">
  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>
  <label for="yearOfBirth">Год рождения: </label>
  <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth">
  <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">yearOfBirth error
  </div>
  <br/>
  <label for="password">Пороль: </label>
  <input type="password" th:field="*{password}" id="password">
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
  <br/>
  <label for="passwordToCheck">Повторите пароль: </label>
  <input type="password" name="passwordToCheck" id="passwordToCheck">
  <br/>
  <hr/>
  <br/>
  <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>